# mandatory requirements to run shuffle
numpy<2
scipy
astropy
astroquery
matplotlib
psycopg2-binary
six

# optional requirements for shuffle. Uncomment the following lines to install
# them
#cx_Oracle
